@startuml
!theme _none_

component "{{application_name}}" as {{application_name | to_puml_name}}

{% for channel in application.operations | plantuml_operation_channel_definitions %}queue "{{channel.address}}" as {{channel.address | to_puml_name}} {
{% for example in channel.examples %}  json {{example.name}} {{ example.payload | tojson(indent=4) }}
{% endfor %}
}

{% endfor %}
{% for operation in application.operations %}
{{application_name | to_puml_name}} -{% if "send" == operation.action %}D{% else %}U{% endif %}-> {{operation.channel.address | to_puml_name}} : [[../../../../../c4/components/EDA/asyncapi_events.html#{{operation | get_operation_anchor_link}} {{operation.action}} {{operation.channel.messages.defaultMessage.name}}]]
{% endfor %}
@enduml
