@startuml
!theme _none_

{% for channel in asyncapi["x-applications"] | plantuml_application_channel_definitions %}queue "{{channel.address}}" as {{channel.address | to_puml_name}} {
{% for example in channel.examples %}  json {{example.name}} {{ example.payload | tojson(indent=4) }}
{% endfor %}
}

{% endfor %}
{% for application_name, application in asyncapi["x-applications"].items() %}component "{{application_name}}" as {{application_name | to_puml_name}}

{% for operation in application.operations %}
{% if "send" == operation.action %}
{{application_name | to_puml_name}} -d-> {{operation.channel.address | to_puml_name}} : [[../../../../../c4/components/EDA/asyncapi_events.html#{{operation | get_operation_anchor_link}} {{operation.action}} {{operation.channel.messages.defaultMessage.name}}]]
{% else %}
{{application_name | to_puml_name}} -U-> {{operation.channel.address | to_puml_name}} : [[../../../../../c4/components/EDA/asyncapi_events.html#{{operation | get_operation_anchor_link}} {{operation.action}} {{operation.channel.messages.defaultMessage.name}}]]
{% endif %}
{% endfor %}

{% endfor %}
@enduml
